.container{
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding-top: 1rem;

  h2{
    padding-left: 30px;
    padding-top: 1rem;
    font-style: italic;
  }
}

.carouselContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #EDF2F7;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 9px -1px rgba(0,0,0,0.75);

  article{
    flex:1;
    padding: 0 0.5rem;

    section:not(section:nth-child(1)){
      padding-top: 1rem;
    }
  }
}

.carousel{
  width: 100%;
}